<center>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td style="margin: 0; padding: 0" align="center">
					<table valing="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding:0; width:700px; background-color:#fff;">
						<tbody>
							<tr>
								<td style="margin:0; padding: 0; width:700px">
									<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
										<tbody>
											<tr>
												<td style="width:700px; margin: 0; padding: 10px 0 0 0;background-color: #fff;" align="center">
													<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
														<tbody>
															<tr>
																<td align="center" style="margin:0; padding: 10px 0; background: #d7952a; color: #ffffff; font-size: 14px; font-weight: bold;font-family: 'verdana', sans-serif; text-align: center; width:700px;">
																	Congratulations on the purchase of a new home!
																</td>
															</tr>
															<tr>
																<td align="left" style="margin:0; padding: 0; width:700px;">
																	<table border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding: 0; width: 100%; ">
																		<tbody style="background-color: #f6f6f6;">
																			<tr>
																				<td align="left" style="margin:0; width:636px; padding: 25px 25px 0; color:#000; font-size: 14px; font-family: 'verdana', sans-serif; font-weight: bold;">
																					You qualify for this <span style="color: #d8952a;">special offer!</span> Take advantage of this exclusive multi-year platinum plan promotion now and receive.
																				</td>
																			</tr>
																		
																			<tr>
																				<td align="left" style="margin:0; padding: 20px; width: 660px; ">
																					<table border="0" cellpadding="0" cellspacing="0" style="padding:0; margin: 0; width: 100%;">
																						<tbody>
																							<tr>
																								<td style="background-color: #fff; padding: 15px; border-radius: 5px; border-right: 10px solid #f6f6f6; border-bottom: 10px solid #f6f6f6;">
																									<table border="0" cellpadding="0" cellspacing="0" style="padding:0; margin: 0;">
																										<tr>
																											<td style="padding:0; padding-right: 15px; margin: 0;"><img src="<%= dataObj.email_imageUrl %>lock.png" alt="" title="" /></td>
																											<td style="padding:0; margin: 0;">
																												<table border="0" cellpadding="0" cellspacing="0" style="padding:0; margin: 0;">
																													<tr>
																														<td style="margin: 0; padding:0;"><strong style="font-size: 14px; font-family: 'verdana', sans-serif;">Locked-in Rates</strong> </td>
																													</tr>
																													<tr>
																														<td style="margin: 0; padding:0; padding-top: 10px; font-size: 12px; line-height: 1.5;font-family: 'verdana', sans-serif;"> Protect yourself against premium increases. On average, rates increase anywhere from 15%-30% annually. Lock in your rates.</td>
																													</tr>
																												</table>
																											</td>
																										</tr>
																									</table>
																								</td>
																					
																								<td valign="top" style="background-color: #fff; padding: 15px; border-radius: 5px; border-left: 10px solid #f6f6f6; border-bottom: 10px solid #f6f6f6;">
																									<table border="0" cellpadding="0" cellspacing="0" style="padding:0; margin: 0;">
																										<tr>
																											<td style="padding:0; padding-right: 15px; margin: 0;"><img src="<%= dataObj.email_imageUrl %>claim-process.png" alt="" title="" /></td>
																											<td style="padding:0; margin: 0;">
																												<table border="0" cellpadding="0" cellspacing="0" style="padding:0; margin: 0;">
																													<tr>
																														<td style="margin: 0; padding:0;"><strong style="font-size: 14px; font-family: 'verdana', sans-serif;">Priority Claim-Processing</strong></td>
																													</tr>
																													<tr>
																														<td style="margin: 0; padding:0; padding-top: 10px; font-size: 12px; line-height: 1.5;font-family: 'verdana', sans-serif;"> Your claims will be prioritized above others and resolved at a more rapid pace.</td>
																													</tr>
																												</table>
																											</td>
																										</tr>
																									</table>
																								</td>
																							</tr>
																				
																							<tr>
																								<td style="background-color: #fff; padding: 15px; border-radius: 5px; border-right: 10px solid #f6f6f6; border-top: 10px solid #f6f6f6;">
																									<table border="0" cellpadding="0" cellspacing="0" style="padding:0; margin: 0;">
																										<tr>
																											<td style="padding:0; padding-right: 15px; margin: 0;"><img src="<%= dataObj.email_imageUrl %>technician.png" alt="" title="" /></td>
																											<td style="padding:0; margin: 0;">
																												<table border="0" cellpadding="0" cellspacing="0" style="padding:0; margin: 0;">
																													<tr>
																														<td style="margin: 0; padding:0;"><strong style="font-size: 14px; font-family: 'verdana', sans-serif;">Use Your Own Technician</strong> </td>
																													</tr>
																													<tr>
																														<td style="margin: 0; padding:0; padding-top: 10px; font-size: 12px; line-height: 1.5;font-family: 'verdana', sans-serif;"> 	We know how valuable and important a good relationship with a technician is, you can use your own as a platinum plan holder.</td>
																													</tr>
																												</table>
																											</td>
																										</tr>
																									</table>
																								</td>

																								<td valign="top" style="background-color: #fff; padding: 15px; border-radius: 5px; border-left: 10px solid #f6f6f6; border-top: 10px solid #f6f6f6;">
																									<table border="0" cellpadding="0" cellspacing="0" style="padding:0; margin: 0;">
																										<tr>
																											<td style="padding:0; padding-right: 15px; margin: 0;"><img src="<%= dataObj.email_imageUrl %>cancel-policy.png" alt="" title="" /></td>
																											<td style="padding:0; margin: 0;">
																												<table border="0" cellpadding="0" cellspacing="0" style="padding:0; margin: 0;">
																													<tr>
																														<td style="margin: 0; padding:0;"><strong style="font-size: 14px; font-family: 'verdana', sans-serif;">Transfer or Cancel your policy at anytime.*</strong></td>
																													</tr>
																													<tr>
																														<td style="margin: 0; padding:0; padding-top: 10px; font-size: 12px; line-height: 1.5;font-family: 'verdana', sans-serif;">
																															*For more information on the cancellation & transfer of your plan, please see the terms & conditions of your home warranty agreement, or call us at <a href="tel:8003881918" style="font-weight: 600;color: #000;">(800) 388-1918.</a>
																														</td>
																													</tr>
																												</table>
																											</td>
																										</tr>
																									</table>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																					
																				</td>
																				
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
															<tr>
																<td align="left" style="margin:0; padding: 0; width: 700px;">
																	<table border="0" cellpadding="0" cellspacing="0" style="padding:0; margin: 0; width: 100%;">
																		<tbody>
																			<tr>
																				<td style="margin:0; color: #000; font-size: 14px; font-weight: 600;font-family: 'verdana', sans-serif; padding: 15px 0; text-align: center;">
																					Interest Free Payment Plans Available for Multi-year Plan
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
															<tr>
																<td align="left" style="margin:0; padding: 0; width: 700px; padding-bottom: 15px;">
																	<table border="0" cellpadding="0" cellspacing="0" style="padding:0; margin: 0; width: 100%;">
																		<tbody>
																			<tr>
																				<% dataObj.plan_terms_list.forEach((item, index) => { %>
																					<% if (index != dataObj.plan_terms_list.length - 1) { %>
																					<td style="text-align: center; background: #f6f6f6; border-right: 5px solid #fff;">
																						<table border="0" cellpadding="0" cellspacing="0" style="padding:0; margin: 0; width: 100%;">
																							<tr>
																								<td style="margin: 0; padding: 0;  text-align: center; color: #000; font-size: 14px; padding-top: 10px; font-weight: 600;font-family: 'verdana', sans-serif;">
																									<strong><%= item.plan_term %> Plan</strong>
																								</td>
																							</tr>
																							<tr>
																								<td style="margin: 0; padding: 0;  text-align: center; color: #d8952a; font-size: 16px; font-weight: 600;font-family: 'verdana', sans-serif;padding-bottom: 10px;  padding-top: 10px;">
																									$<%= item.price_amount %>
																								</td>
																							</tr>
																							<tr>
																								<td style="margin: 0; padding: 0;  text-align: center; background-color: #4c4c4c;color: #fff; font-size: 12px; padding: 10px 5px; font-weight:600; font-family: 'verdana', sans-serif;">
																									+<%= item.bonus_month %> Months <span style="color: #f7a829;">Free</span>
																								</td>
																							</tr>
																						</table>
																					</td>
																					<% } %>
																				
																					<% if (index === dataObj.plan_terms_list.length - 1) { %>
																						<td style="text-align: center; background: #17367a; border-right: 5px solid #fff;">
																							<table border="0" cellpadding="0" cellspacing="0" style="padding:0; margin: 0; width: 100%;">
																								<tr>
																									<td style="margin: 0; padding: 0;  text-align: center; color: #fff; font-size: 14px; padding-top: 10px; font-weight: 600;font-family: 'verdana', sans-serif;">
																										<strong><%= item.plan_term %> Plan</strong>
																									</td>
																								</tr>
																								<tr>
																									<td style="margin: 0; padding: 0;  text-align: center; color: #d8952a; font-size: 16px; font-weight: 600;font-family: 'verdana', sans-serif;padding-bottom: 10px;  padding-top: 10px;">
																										$<%= item.price_amount %>
																									</td>
																								</tr>
																								<tr>
																									<td style="margin: 0; padding: 0;  text-align: center; background-color: #f7a829; color: #fff; font-size: 12px; padding: 10px 5px; font-weight:600; font-family: 'verdana', sans-serif;">
																										+<%= item.bonus_month %> Months <span style="color: #000000;">Free</span>
																									</td>
																								</tr>
																							</table>
																						</td>
																					<% } %>
																				<% }); %>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
															<tr>
																<td align="left" style="margin:0; padding: 0; width: 700px; border-top: 1px solid #000;">
																	<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin: 0; padding: 0; ">
																		<tbody>
																			<tr>
																				<td style="font-size: 12px; color: #000; font-weight: 600;font-family: 'verdana', sans-serif; border-bottom: 1px solid #c4c4c4; padding: 10px 0;">Optional Coverage (Add-ons)</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
															<tr>
																<td align="left" style="margin:0; padding: 0; width: 700px;">
																	<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin: 0; padding: 0; padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #000;">
																		<tbody>
																			<tr>
																				<td align="left" style="margin:0; padding: 0; width: 700px;">
																					<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin: 0; padding: 0; ">
																						<tbody>
																							<% dataObj.optional_add_on_products.forEach((item, index) => { %>
																								<% if (index % 3 === 0) { %>
																									</tr> <!-- Close previous row if it's not the first iteration -->
																									<tr>
																								<% } %>
																								<td style="padding: 0; padding-bottom: 10px; ">
																									<table border="0" cellpadding="0" cellspacing="0">
																										<tr>
																											<td style="padding-right: 5px; color: #d7952a;line-height: 1;font-family: 'verdana', sans-serif;">•</td>
																											<td style="color:#000;font-family: 'verdana', sans-serif; font-size:12px;">
																												<%= item.product_name %>
																											</td>
																										</tr>
																								   </table>
																								</td>
																							<% }); %>
																						</tbody>
																					</table>
																						
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
															
															<tr>
																<td style="padding:0; margin: 0; padding-top: 10px; padding-bottom: 10px;">
																	<table border="0" cellpadding="0" cellspacing="0" style="padding:0; margin: 0; width: 100%;">
																		<tbody>
																			<tr>
																				<td>
																					<table border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding: 0;">
																						<tr>
																							<td style="margin: 0; padding: 0; padding-top: 10px; font-family: 'verdana', sans-serif; font-size: 12px;">
																								<strong>Contact us Today to Customize your Plan</strong>
																							</td>
																						</tr>

																						<tr>
																							<td style="margin: 0; padding: 0; padding-top: 15px;">
																								<table border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding: 0;">
																									<tr>
																										<td style="margin: 0; padding: 0; font-family: 'verdana', sans-serif; font-size: 12px;">
																											<a href="mailto:<%= dataObj.company_email %>" style="color: #2f2f2f;  text-decoration:none;"><span style="font-weight: 600; color: #000000;">Email:</span> <%= dataObj.company_email %></a>
																										</td>
																							 
																										<td style="margin: 0; padding: 0; padding-left: 15px;; font-family: 'verdana', sans-serif; font-size: 12px;">
																											<a href="tel:<%= dataObj.company_phone %>" style="color: #2f2f2f; text-decoration:none;"><span style="font-weight: 600; color: #000000;"> Call:</span> <%= dataObj.company_phone %></a>
																										</td>
																									</tr>
																								</table>
																							</td>
																						</tr>
																					</table>
																					
																				</td>

																				<td valign="top" style="text-align: right;">
																					<img src="<%= dataObj.email_imageUrl %>faild_pay_icon.png" width="50" alt="First Premier Home Warranty" title="First Premier Home Warranty">
																				</td>
																			</tr>

																			
																		</tbody>
																	</table>
																</td>

															</tr>
														</tbody>
														<tfoot>
															<tr>
																<td style="margin:0; background-color: #4c4c4c; padding: 15px 0; width: 700px;">
																	<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin: 0; padding: 0;">
																		<tbody>
																			<tr>
																				<td align="center" style="margin: 0; padding: 0; padding-left: 15px; color: #fff; font-size: 12px; font-family: 'verdana', sans-serif;"> © <%= dataObj.company_copyright_year %>  First Premier Home Warranty. All Rights Reserved.</td>
																				<!-- <td align="right" style="margin: 0; padding: 0; padding-right: 15px; text-align: right;"><a href="<%= dataObj.company_website_link %> " target="_blank" style="color: #fff; font-size: 12px; font-family: 'verdana', sans-serif;text-decoration: none;"><%= dataObj.company_website %></a></td> -->
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tfoot>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</center>